<section class="container criar-pensamentos ff-inter">
    <header class="header">
      <h2>Cadastrar um novo usuário</h2>
    </header>
    <form [formGroup]="formulario">
    <mat-grid-list cols="2" rowHeight="2:1">
     
      <input
        type="text"
        class="input"
        id="nome"
        formControlName="nome"
        placeholder="Digite o Nome"
      >
   
      
    
      <input
        type="text"
        class="input"
        id="email"
        formControlName="email"
        placeholder="Digite o Email"
      >
  


      <input
        type="text"
        class="input"
        id="senha"
        formControlName="senha"
        placeholder="Digite a  Senha"
      >

      <input
        type="text"
        class="input"
        id="cpf"
        formControlName="cpf"
        placeholder="Digite o CPf"
      >
      <input
        type="text"
        class="input"
        id="pisnis"
        formControlName="pisnis"
        placeholder="Digite o Pis/Nis"
      >
      <input
        type="text"
        class="input"
        id="rg"
        formControlName="rg"
        placeholder="Digite o RG"
      >
      <input
        type="text"
        class="input"
        id="dv"
        formControlName="dv"
        placeholder="DIGITE O DV"
      >
      <input
        type="text"
        class="input"
        id="dt_nasc"
        formControlName="dt_nasc"
        placeholder="Digite Data de Nascimento"
      >
      <input
        type="text"
        class="input"
        id="matricula"
        formControlName="matricula"
        placeholder="Digite a  Matricula"
      >

      <input
        type="text"
        class="input"
        id="orgao_emissor"
        formControlName="orgao_emissor"
        placeholder="Digite a  Orgão Emissor"
      >

      <input
      type="text"
      class="input"
      id="ddd"
      formControlName="DDD"
      placeholder="Digite o DDD"
    >
    <input
      type="text"
      class="input"
      id="celular"
      formControlName="celular"
      placeholder="Digite numero do Celuar"
    >
    <input
      type="text"
      class="input"
      id="ic_def"
      formControlName="ic_def"
      placeholder="Digite numero do IC DFr"
    >
    <input
    type="text"
    class="input"
    id="lotacao_fisica"
    formControlName="ic_def"
    placeholder="Digitea Lotação física"
  >
  <input
  type="text"
  class="input"
  id="lotacao_administrativa"
  formControlName="lotacao_administrativa"
  placeholder="Digite a Lotação Admnistrativa"
>
<mat-hint align="start"> Anexar Inventário de Equipamento</mat-hint>
<button mat-button color="primary">Anexar</button>
    </mat-grid-list>
   

    

 </form>

 <button mat-button color="primary">Salvar</button>
 <button mat-button color="primary">Cancelar</button>
  </section>
  